body {
  margin: 50;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  
  background-color: #fff;
}
@font-face {
font-family: "Cuprum";
src: url("../fonts/cuprum.woff2") format("woff2"), 
      url("../fonts/cuprum.woff") format("woff"); 
      font-weight:normal;
      font-style: normal;
}
@font-face{
font-family: "Cuprum";
src: url("../fonts/cuprumbold.woff2") format("woff2"),
      url("../fonts/cuprumbold.woff") format("woff");
      font-weight: bold;
      font-style: normal;
}
@font-face{
font-family: "PT Sans";
src:url("../fonts/ptsans.woff") format("woff"),
      url("../fonts/ptsans.woff2") format("woff2");
      font-style: normal;
      font-weight: normal;
}
@font-face{
font-family: "PT Sans";
src: url("../fonts/ptsansbold.woff") format("woff"),
      url("../fonts/ptsansbold.woff2") format("woff2");
      font-weight: bold;
      font-style: normal;
}
a {
  text-decoration: none;
  /*color: #fff;*/
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}

/*стили верхнего меню*/

.main-header li,
footer li {
  display: inline-flex; /*просто флекс не работает, меню получается в столбик а не в строчку*/
  flex-wrap: wrap;
}
.main-header {
  height: 320px;
  width: 100%;   
  background-color: #f4f7f9;
}
.menu-1 {
  height: 45px;/*по макету 43, а по факту не хватает такой высоты, надо больше*/
  padding: 0 130px;
}
.cart {
  width: 150px;
  text-align: center;
  font-size: 17px;
  outline: 2px solid violet;
  color: #fff;
}
.cart::before {
  content: ""; /*поле контент оставляем пустым*/
  position: absolute; /*позиционирование*/
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
}
.cart:hover {
  background-color: #212a3a;
}
.bookmarks {
  width: 150px;
  text-align: center;
  font-size: 17px;
  outline: 1px solid yellow;
  margin: 0;
  color: #fff;
}
.bookmarks:before {
  content: ""; /*поле контент оставляем пустым*/
  position: absolute; /*позиционирование*/
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
}
.bookmarks:hover {
  background-color: #212a3a;
}
.make-order {
  width: 150px;
  text-align: center;
  font-size: 17px;
  background-color: #63a63e;
  color: rgb(255, 255, 255);
  line-height: 1;
  align-items: left;
  border-style: none;
  color: #fff;
  margin: 10px;
  padding: 10px;
  outline: 2px solid violet;
}
.make-order:hover {
  background-color: #5fbb2d;
}
.make-order:active {
  background-color: #518534;
}
.logo {
  background-color: #ee3643;
  border-bottom: #b52933 5px solid; 
  background-position: top center;
  margin: 5px;
  padding: 20px;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
  background-color: #ba2732;
}
.search::before {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: top center;
  content: ""; /*поле контент оставляем пустым*/
  position: absolute; /*позиционирование*/
  width: 15px;
  height: 15px;
}
/*nav a {
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 15px;
}
nav.menu-3 {
  font-size: 17px;


}
 a.menu-3 {
  margin: 20px; 
}

*/

li menu-1:hover {
  background-color: #293449;
}

.menu-1 {
  background-color: #32425c;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: space-around;/*получается вокруг кнопок отступы - не знаю как убрать*/
}

/*стили второго меню*/

.menu-2 {
  height: 158px;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.intro {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.intro {
  color: #ef6974;
  font-size: 16px;
  font-family: "Cuprum";
  color: rgb(238, 54, 67);
  font-style: italic;
  line-height: 1.4;
  text-align: left;
}
.intro-contact {
  width: 320px;
  text-align: center;
}
.intro-phone::before {
  background-image: url("../img/icon-phone.svg");
  content: ""; /*поле контент оставляем пустым*/
  position: absolute; /*позиционирование*/
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: top center;
}

.intro-phone {
  color: #ee3643;
  border: 3px solid violet;
  padding: 20px;
}
.intro-address {
  color: #32425c;
  font-size: 14px;
}
.intro-link {
  width: 300px;
  display: inline-flex;
  align-content: left;
}
.button-login,
.button-reg {
  background-color: #fff;
  color: #000;
  padding: 15px;
  text-align: center;
  outline: 2px solid violet;
  height: 26px;
}
.button-login::before {
  background-image: url("../img/icon-login.svg");
  content: ""; /*поле контент оставляем пустым*/
  position: absolute; /*позиционирование*/
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: top center;
}
.menu-3-ul
 {
  background-color: #32425c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "Cuprum","Arial",sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1;
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
    border-bottom: 3px solid #293449;
}

.menu-3-a {
  padding: 25px 10px;
  color: white;
}
.menu-3-a:hover{
  background-color: #293449;
}


/*стили основного контента*/
.index-links p{
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}
.index-links-a{
  color:#fff;
  box-shadow: 0 0 0 150px rgba(0, 0, 0, 0.25) inset;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
.row-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 60px 130px;
}

div.materials {
  background-color: #ffbf47;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
div.tools {
  background-color: #3bbce3;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
div.tekniks {
  background-color: #dc91d8;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
.row-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 60px 130px;  
}
div.discount {
  background-color: #8ed78f;
  width: 300px;
  padding: 10px;
  margin: 10px;
}
div.delivery {
  background-color: #ffc047;
  width: 300px;
  padding: 10px;
  margin: 10px;
}

/*popular items style*/
.popular-items {
  margin: 60px 130px;
}
.popular-items-wrapper {
  width: 960px;
  height: 55px;
  background-color: #f9f5f0;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.popular-items-header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  text-align: left;
}
.popular-items-a {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  width: 255px;
  background-color: #ee3643;
  padding: 15px 55px;
  float: right;
}
.popular-items-cards {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-items .card {
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}
.popular-items .flag {
  width: 60px;
  height: 60px;  
  text-indent: -1000px;
  overflow: hidden;
  position: absolute;
}
.popular-items .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}
.popular-items .product-card-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px; 
  color: green;   
}
.popular-items .old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}
.popular-items .new-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px; 
  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.popular-items .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
.popular-items .actions {
  position: absolute;
/*  top: 0;
  left: 0;*/
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.popular-items .actions .buy,
.popular-items .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.popular-items .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.popular-items .actions {
  display: none;
}

.popular-items:hover .actions {
  display: block;
}

/*popular brands style*/
.popular-brands {
  margin: 60px 130px;
}
.popular-brands-wrapper {
  width: 960px;
  height: 55px;
  background-color: #f9f5f0;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popular-brands-header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  text-align: left;
}
.popular-brands-a {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  width: 255px;
  background-color: #ee3643;
  padding: 15px 55px;
  float: right;
}
.brand-logos {
  padding: 20px 0 60px 0;
  display:flex;
  flex-wrap: wrap;
  align-content: center;  
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  outline: #f9f5f0 2px solid;
  padding: 40px;
  margin: 10px;
}

/*features-style*/
.features {
  padding: 30px;
  background-color: #f4f8fa;
}
.services-header .header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
.services-header .p {
  font-size: 14px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
}
.services-delivery .header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
.services-delivery .p {
  font-size: 14px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
}
.delivery-image {
  float: right;
}









.container-info {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  margin-bottom: 65px;
  background-color: #f8f5f2;
}
.delivery-info {
  width: 480px;
}
.contacts-info {
  width: 480px;
}

a.button-lost,
a.button-more {
  background-color: #ee3643;
  width: 300px;
  min-height: 38px;
  color: rgb(255, 255, 255);
  margin: 30px;
  padding: 10px;
}



/*footer styles*/
.footer-wrapper {
    background: #eef3f8;
    width: 100%;
    line-height: 1.333;
    font-size: 18px;
    display: inline;
}
.footer-1{
  background-color: #32425c; 
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.footer-2 {
  background-color: #293449;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-1 ul:hover {
  text-decoration: underline;
}
.footer-1 ul:active {
  font-family: "Cuprum";
  color: rgba(241, 245, 247, 0.502);
}
.smm {
  border-radius: 50%;
  background-color: rgb(43, 42, 58);
  width: 42px;
  height: 42px;
}



.yellow-list {
  color: #ffd180;
}
.white-list {
  color: #fff;
}
.footer-logo{
}
.white-list {
  width: 80%;
}
.footer-adress {
  width: 330px;
}
.yellow-list {
  width: 500px;
}
footer {
  font-size: 18px;
  font-family: "Cuprum";
  font-weight: normal;
  line-height: 1;
  color: rgb(241, 245, 247);
}

.bottom-info {
  color: #ffd180;
  text-decoration: none;
}
.bottom-info:hover {
  color: #ffd180;
  text-decoration: underline;
}
.bottom-info:active {
  color: #ee3643;
}
.footer-2-info {
  width: 290px;
}
.footer-smm {
  width: 137px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.smm:hover path,
.smm:focus path {
  fill: violet;
}

.modal-login,
.button-login,
.addtocart {
  /*display: none;
}

/*стили каталога*/
.catalog-wrapper {
  display: flex;
  justify-content: space-between;
  outline: red 5px solid;
}
.filters {
  padding: 0;
  margin: 20px;
  font-family: "PT Sans";
}
.filter-button {
  border: #c5c5c5 5px solid;
  font-family: "PT Sans";
  width: 146px;
  height: 44px;
  margin: 20px;
}/*
.catalog-products {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 700px;
}
.product-card {
  width: 220px;
  min-height: 160px;
  box-shadow: 0 0 0 2px purple;
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  
  border: 1px solid #ccc;
}

.product-card-title {
  color: green;
  text-decoration: none;
  font-size: 18px;
  font-family: "PT Sans";
  font-weight: bold;
  line-height: 1.111;
  text-align: center;
}
.product-card .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-card .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}
.product-card .actions {
  display: none;
}
.product-card .actions {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.product-card .actions .buy,
.product-card .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.product-card .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.product-card .actions {
  display: none;
}

.product-card:hover .actions {
  display: block;
}
.product-card .image {
  width: 218px;
  height: 168px;
}
.product-card:nth-child(3n) {
  margin-right: 0;
}

.catalog-products {
  font-size: 0;
}

.product-card {
  font-size: 16px;
}
.product-card .image img {
  max-width: 100%;
}
.product-card-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;    
}

.old-price {
  font-size: 18px;
  font-family: "PT Sans";
  color: rgb(153, 153, 153);
  font-weight: bold;
  text-decoration: line-through;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
.product-card .new-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  
  color: white;
  background: #ee3643;
  border-radius: 5px;
}
.product-card .new-price:after {
  content: "";
  
  position: absolute;
  top: 0;
  right: -20px;
  
  width: 0;
  height: 0;
  
  border: 20px solid white;
  border-left-color: #ee3643;
}
*/






.category-info {
  padding: 40px;
  margin: auto;
  background-color: #f2f6f8;
  outline: 2px blue solid;
  text-transform: none;
}
.category-info h3{
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
  color: chocolate;
  display: flex;
}
.pagination-list a {
  color:green;
  font-weight: bold;
  font-size: 20px;
}

/*модальные окна*/
.modal.button-lost {
  position: fixed;
  outline: 2px solid blueviolet;
  text-align: center;
  background-color: white;
  border-top: 5px solid #ee3643;
  width: 640px;
  height: 320px;
}
.send {
  background-color: #ee3643;
  font-size: 4px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
}
.modal-map {
  position: fixed;
  height: 450px;
  width: 950px;
  box-shadow: 2px solid grey;
}
.modal-map {
  top: 50%;
  left: 50%;

  width: 766px;
  height: 561px;
  margin-top: -280px;
  margin-left: -390px;
  
  border: 7px solid white;
}

.modal-map p {
  margin: 0;
}
.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  
  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}