body {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  
  background-color: #fff;
}
@font-face {
font-family: "Cuprum";
src: url("../fonts/cuprum.woff2") format("woff2"), 
      url("../fonts/cuprum.woff") format("woff"); 
      font-weight:normal;
      font-style: normal;
}
@font-face{
font-family: "Cuprum";
src: url("../fonts/cuprumbold.woff2") format("woff2"),
      url("../fonts/cuprumbold.woff") format("woff");
      font-weight: bold;
      font-style: normal;
}
@font-face{
font-family: "PT Sans";
src:url("../fonts/ptsans.woff") format("woff"),
      url("../fonts/ptsans.woff2") format("woff2");
      font-style: normal;
      font-weight: normal;
}
@font-face{
font-family: "PT Sans";
src: url("../fonts/ptsansbold.woff") format("woff"),
      url("../fonts/ptsansbold.woff2") format("woff2");
      font-weight: bold;
      font-style: normal;
}
a {
  text-decoration: none;
  /*color: #fff;*/
}
ul {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
}

/*стили верхнего меню*/

.main-header li,
footer li {
  display: inline-flex; /*просто флекс не работает, меню получается в столбик а не в строчку*/
  flex-wrap: wrap;
}
.main-header {
  height: 320px;
  width: 100%;   
  background-color: #f4f7f9;
}
.menu-1 {
  height: 45px;/*по макету 43, а по факту не хватает такой высоты, надо больше*/
  padding: 0 130px;
}
.cart {
  width: 150px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  margin: 10px;
}
.cart::before {
  content: ""; /*поле контент оставляем пустым*/
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  display: inline-block;
  margin-right: 15px;
}
.cart:hover {
  background-color: #212a3a;
}
.bookmarks {
  width: 150px;
  text-align: center;
  font-size: 17px;
  margin: 10px;
  color: #fff;
  background-position: top left;
}
.bookmarks:before {
  content: ""; /*поле контент оставляем пустым*/
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
    display: inline-block;
  margin-right: 15px;
}
.bookmarks:hover {
  background-color: #212a3a;
}
.make-order {
  display: block;
  width: 150px;
  text-align: center;
  font-size: 20px;
  background-color: #63a63e;
  color: rgb(255, 255, 255);
  line-height: 1;
  padding: 10px;
}
.make-order:hover {
  background-color: #5fbb2d;
}
.make-order:active {
  background-color: #518534;
}
.logo {
  background-color: #ee3643;
  border-bottom: #b52933 5px solid; 
  background-position: top center;
  padding: 10px 50px;
}
.logo:hover {
  background-color: #ca2c37;
}
.logo:active {
  background-color: #ba2732;
}
.search {
  color: red;
  padding: 10px;
}
.search-label:before {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: top center;
  content: ""; /*поле контент оставляем пустым*/
  display: inline-block;
  margin-right: 15px;
  width: 20px;
  height: 20px;
}
.placeholder-search {
  border-style: none;
  background-color: #293449;
  font-size: 14px;
  text-align: left;
}
.placeholder-search::placeholder {
  background-color: #293449;
  color: #fff;
}
.placeholder-search:hover::placeholder {
  background-color: white;
  color: #000;
}
input {
  background-color: white;
  color: #fff;
}
.button-login-p {
  box-sizing: border-box;
}
.my-orders {
  text-decoration: underline;
  margin: 0 0 0 30px;
}
.my-account {
  text-decoration: underline;
  margin: 0 10px; 
}
.my-orders:focus,
.my-account:focus {
  text-decoration: underline;
  color: #ee3643;
}
.my-orders:after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #32425c;
}


.menu-1 {
  background-color: #32425c;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 960px;
}
.search {
  background-color: #32425c;
  border-style: none;
  color: #fff;
}
/*стили второго меню*/

.menu-2 {
  height: 158px;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.intro {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.intro {
  color: #ef6974;
  font-size: 16px;
  font-family: "Cuprum";
  color: rgb(238, 54, 67);
  font-style: italic;
  line-height: 1.4;
  text-align: left;
}
.intro-contact {
  width: 330px;
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
}
.intro-phone {
  color: #ee3643;
  border: 3px solid #fff;
  width: 430px;
  height: 50px;
  padding: 10px;
  font-size: 24px;
}
.intro-phone::before {
  background-image: url("../img/icon-phone.svg");
  content: ""; /*поле контент оставляем пустым*/
  display: inline-block;
  margin-right: 30px;  
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.intro-address {
  color: #32425c;
  font-size: 12px;
}
.intro-link {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;

}
.button-login,
.button-reg {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 0 15px;
  margin: 10px;
  height: 45px;
}
.button-login-user:before {
  background-image: url("../img/icon-user.svg");
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  color: #c5c5c5;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
}
.button-login-user:after {
  background-image: url("../img/icon-logout.svg");
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  color: #c5c5c5;
  display: inline-block;
  margin-left: 15px;
  margin-top: 10px;
}

.button-login-p:before {
  background-image: url("../img/icon-login.svg");
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  color: #c5c5c5;
  display: inline-block;
  margin-right: 15px;
  margin-top: -5px;
}

.button-login-p:hover,
.button-reg-p:hover {
  color: #ee3643;
}
.button-login-p,
.button-reg-p {
  font-size: 18px;
}

.menu-3-ul {
  background-color: #32425c;
  color: #fff;
  font-size: 16px;
  text-align: center;
  font-family: "Cuprum","Arial",sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1;
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  border-bottom: 3px solid #293449;
  box-sizing: border-box;
}
.menu-3-ul:last-child {
  padding: 0 25px;
}

.menu-3-a {
  padding: 25px 10px;
  color: white;
}
.menu-3-a:hover{
  background-color: #293449;
}


/*стили основного контента*/
.index-links {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.index-links p{
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
}
.index-links-a{
  color:#fff;
  box-shadow: 0 0 0 150px rgba(0, 0, 0, 0.25) inset;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
.row-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.index-link {
  width: 300px;
  height: 125px;
  margin: 20px;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
}
.index-link-info {
  width: 137px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index-link-img {
  margin-left: 50px;
}
.materials {
  background-color: #ffbf47;
}
.tools {
  background-color: #3bbce3;
}
.tekniks {
  background-color: #dc91d8;
}

.row-2 {
  display: flex;
  flex-wrap: wrap;
/*  justify-content: center;
*/  width: 250px;
  display: flex;
  flex-direction: column;
}
.discount {
  background-color: #8ed78f;
  margin: 10px 25px;
}
.delivery {
  background-color: #ffc047;
  margin: 10px 25px;
}

/*popular items style*/
.popular-items-section {
  margin: 60px 130px;
}
.popular-items-wrapper {
  width: 960px;
  height: 55px;
  background-color: #f9f5f0;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}
.popular-items-header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  text-align: left;
}
.popular-items-a {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  width: 255px;
  background-color: #ee3643;
  padding: 15px 55px;
  float: right;
}
.popular-items-cards {
  margin: 10px;
  width: 960px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popular-items.card {
  display: inline-block;
  width: 218px;
  margin: 20px 12px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #ccc;
  position: relative;
}
.popular-items .flag {
  width: 60px;
  height: 60px;  
  text-indent: -1000px;
  overflow: hidden;
  position: absolute;
}
.popular-items .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
  right: 0;
}
.popular-items .product-card-title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px; 
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px; 
}


.popular-items .old-price {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
  text-align: center;
}
.popular-items .new-price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px; 
  color: white;
  background: #ee3643;
  border-radius: 3px;
  text-align: center;
}
.popular-items .new-price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
.popular-items .actions {
  position: absolute;
/*  top: 0;
  left: 0;*/
  
  width: 218px;
  height: 88px;
  padding: 40px 0;
  
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.popular-items .actions .buy,
.popular-items .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
/*  border: 3px solid #63a63e;
*/  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.popular-items .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.popular-items .actions .bookmark:hover {
  color: #000;
}
.popular-items .actions {
  display: none;
}

.popular-items:hover .actions {
  display: block;
}
.popular-items .actions .buy:focus,
.popular-items .actions .bookmark:focus {
  color: #518534;
}

/*popular brands style*/
.popular-brands {
  margin: 60px 130px;
}
.popular-brands-wrapper {
  width: 960px;
  height: 55px;
  background-color: #f9f5f0;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popular-brands-header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(50, 66, 92);
  text-transform: uppercase;
  text-align: left;
}
.popular-brands-a {
  font-size: 18px;
  font-family: "Cuprum";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.286;
  text-align: center;
  width: 255px;
  background-color: #ee3643;
  padding: 15px 55px;
  float: right;
}
.brand-logos {
  width: 960px;
  display: flex;

  flex-wrap: wrap;
  padding: 20px;
}

.brand-logo {
  width: 20%;
  height: 50px;

  outline: #f9f5f0 2px solid;
  padding: 30px 20px;
  width: 20%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.brand-logos {
  width: 960px;
}
.brand-logos-ul {
  padding: 20px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;  
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  outline: #f9f5f0 2px solid;
  padding: 30px;
  width: 20%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-logo-a {
  height: 95px;
  display: contents;
}*/
.brand-logo-img {
  height: auto;
}
/*features-style*/
.features {
  padding: 30px 130px;
  background-color: #f4f8fa;
}
/*/*.features-list {
  /*margin: 30px;
  height: 200px;
  width: 240px;
  box-shadow: -28px 0px 24px -25px #000000 inset;
}*/
.features-list-ul {
  width: 200px;
  box-shadow: -15px -1px 10px -9px #000000 inset;

  padding: 10px 0;
 } 
.features-list-li {
  padding: 20px;
  font-family: "Cuprum";
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  background-color: #32425c;
  color: rgb(255, 255, 255);
  outline: 1px solid black;
}


.activ {
  background-color: #fff;
  color: #32425c;  
  position: relative;
}
.services-delivery {
  padding: 0 0 0 30px;
}
.services-header .header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
.services-header .p {
  font-size: 14px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
}
.services-delivery .header {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
.services-delivery .p {
  font-size: 14px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
}
.features-wrapper {
  display: flex;
  align-items: center;
}
.features-img {
  padding: 40px;
  width: 210px;
}
.services-delivery {
  width: 275px;
}

/*нижнее инфа*/
.container-info {
  width: 960px;
  display: flex;
  padding: 85px 130px;
  position: relative;
}
.delivery-info {
  width: 520px;  margin: 0 60px;

}
.contacts-info {
  width: 300px;
  margin: 0 60px;
}

.container-info-button {
  display: block;
  background-color: #ee3643;
  width: 250px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 30px 0;
  padding: 10px;
  text-align: center;
}
.container-info-p {
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
}
.rectangle {
  width: 22px;
  height: 2px;
  background-color: #ee3643;
  display: inline-block;
  margin: 5px 10px;}

/*footer styles*/
.footer-1{
  background-color: #32425c; 
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 130px 50px 130px;
  }
.footer-2 {
  background-color: #293449;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.yellow-list-a:hover,
.white-list-a:hover {
  text-decoration: underline;
}
.footer-1 ul:active {
  font-family: "Cuprum";
  color: rgba(241, 245, 247, 0.502);
}
.footer-smm {
  margin-right: 80px;
}
.smm {
  border-radius: 50%;
  background-color: rgb(43, 42, 58);
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.smm:hover,
.smm:focus {
  background-color: #ee3643;
}
.yellow-list-a {
  color: #ffd180;
  padding: 20px;
}
.white-list-a {
  color: #fff;
  padding: 20px;
}
.footer-logo{
  width:18%;
  margin-right: 170px;
}
.white-list {
  width: 550px;
}
.yellow-list {
  width: 520px;
  margin-left: 70px;
}
.footer-adress {
  color: #fff;
}
.yellow-list,
.white-list {
  padding: 0;
}
.footer-wrapper {
  font-size: 16px;
  font-family: "Cuprum";
  font-weight: normal;
  background: #eef3f8;
  color: #fff;
}

.bottom-info {
  color: #ffd180;
  text-decoration: none;
}
.bottom-info:hover {
  color: #ffd180;
  text-decoration: underline;
}
.bottom-info:focus {
  color: #ee3643;
}
.footer-2-info {
  width: 290px;
  padding-right: 60px;
}
.bottom-info-p {
  margin-right: 50px;
}



.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  overflow: hidden;
}/*
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 14px 0 0;
    vertical-align:middle;
    background:url("../img/checkbox-on.svg") left top no-repeat;
    cursor:pointer;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 14px 0 0;
    vertical-align:middle;
    background:url("../img/radio-on.svg") left top no-repeat;
    cursor:pointer;
}*/


/*стили каталога*/
.catalog-wrapper {
  display: flex;
  justify-content: space-between;
/*  margin: 50px;
*/  position: relative;
}

.page-title {
  background-color: #f2f6f8;
  font-size: 20px;
  padding: 30px;
  text-transform: uppercase;
/*  margin: 0 40px;
*/}

.catalog-container {
  width: 960px;
  margin: 0 auto;
}
/*breadcrumbs styles*/
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
  margin: 20px 0;
}
.breadcrumbs li {
  position: relative;

  margin-right: 42px;
}
.breadcrumbs li::after {
  content: "";
  background-image: url("../img/icon-right-small.svg") ;
  position: absolute;
  top: 7px;
  right: -25px;

  width: 8px;
  height: 12px;
}
.breadcrumbs li:last-child {
  margin-right: 0;
}
.breadcrumbs-current::after {
  display: none;
}
.breadcrumbs a {
  color: #000000;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

/*стили фильтров*/
.section-filters {
  width: 180px;
}
.filters-above {
  padding: 0;
  margin: 0;
}
.above-p {
  display: block;
  width: auto;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f7f3ec;
  text-align: left;
  border-radius: 7px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.price-p {
  width: auto;
  padding: 22px 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  font-family: "Cuprum", "Arial", sans-serif;
}
.price-scale {
  padding: 30px 20px;
  background-color: #f7f3ec;
  border-radius: 7px;
  margin-bottom: 20px;
}
.min-max {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.min-price,
.max-price {
  padding: 10px 25px;
  background-color: #f7f3ec;
  border-radius: 7px;
}
.manufacturers,
.pitanie {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 2px solid #e5e5e5;
  width: 90%;
}
.filters {
  padding: 0;
  margin: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}
.filter-button {
  border: #c5c5c5 2px solid;
  font-family: "PT Sans";
  font-size: 16px;
  width: 146px;
  height: 44px;
  margin: 0 20px;
}
.filter fieldset {
  border: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.filter fieldset:first-child {
  margin-bottom: 35px;
}
.filter legend {
  font-size: 18px;
  font-weight: bold;
}
.filter ul {
  padding: 40px;
  margin: 0;
  
  list-style: none;
  line-height: 18px;
}
.filter-option {
  margin-bottom: 20px;
  padding-left: 15px;
}
.filter-option label {
  position: relative;
  cursor: pointer;
  user-select: none;
}
/*стили чекбоксов и радио*/
input[type=checkbox], 
input[type=radio] {
  display: none;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  
  width: 20px;
  height: 20px;
  border: 2px solid #c5c5c5;
}
.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 0;
  left: -42px;

  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-radio + label::before {
  content: "";
  left: -42px;
  top: -1px;
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  
  border: 2px solid #c5c5c5;
}
.filter-input-radio:checked + label::after {
  content: "";
  top: 5px;
  left: -36px;
  position: absolute;
  border-radius: 50%;
  width: 8px;
  height: 8px;

  background-color: #c5c5c5;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input:disabled + label {
  color: #000000;
  opacity: 0.5;
}
/*finish filters style*/

/*стили сортировки*/
.sortirovka {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f7f3ec;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 7px;
  font-family: "PT Sans", sans-serif;
  margin-left: 50px;
}
.sortirovka-p {
  color: #c5c5c5;
  border-bottom: 2px dotted #ee3643;
  padding: 0 10px;
}
.sortirovka-p:hover {
  color: #000;
  border-bottom: 2px solid #ee3643;
}
.sortirovka-p:focus {
  color: #ee3643;
}
.sortirovka-arrow path {
  fill: #c5c5c5;
}
.sortirovka-arrow path:hover {
  fill: #000;
}
.sortirovka-arrow path:focus {
  fill: #ee3643;
}
/*конец стили сортировки*/

.catalog-list {
  list-style: none;
/*  margin-left: 40px;
*/}
.popular-items.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popular-items.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.category-info {
  padding: 40px 130px;
  margin: auto;
  background-color: #f2f6f8;
  text-transform: none;
}
.category-info h3{
  font-size: 30px;
  font-family: "Cuprum";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
}
.pagination-list {
  list-style: none;
  padding: 10px;
  margin: 10px;
  display: flex;
}
.pagination-item a {
  color: #000000;
  padding: 15px;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  background-color: #fff;
  display: block;
  padding: 10px 19px;
}
.pagination-item a:hover {
  outline: solid #bdc6ca;
  background-color: #fff;
}
.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
}
.pagination-item a:focus,
.pagination-item a:active {
  border: 2px solid #ee3643;
}
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ee3643;
}
.popular-items.card:nth-child(3n) {
  margin-right: 0;
}
.pagination-item {
  margin-right: 5px;
}
.pagination-item:first-child {
  margin-left: 50px;
}
.pagination-item:last-child {
  margin-right: 0;
}

/* Модальное окно Товар добавлен */
.modal-addtocart {
display: none;

  margin: 0 auto;
  width: 620px;
  border-top: 5px solid #ee3643;
  position: absolute;
  top: 20%;
  left: 30%;

  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.button-submit {
  width: 220px;
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 20px 50px;
}
.button-submit-continue {
  background-color: #fff;
  color: #000;
  border-style: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 20px 50px;
}
.grey-field {
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  padding: 30px;
}
.added {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding: 30px;
}
.added-img {
  margin-right: 30px;
}

.modal-close-added {
  width: 22px;
  height: 22px;
  background-color: transparent;
  border-style: none;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 24px;
}
.modal-close-added::before,
.modal-close-added::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
  top: 35px;
  left: -5px;
}
.modal-close-added::before {
  transform: rotate(45deg);
}
.modal-close-added::after {
  transform: rotate(-45deg);
}

/*Модальное окно Личный Кабинет*/
.modal-login {
  margin: 0 auto;
  top: 120px;
  left: 50%;
  padding: 30px 50px;
  width: 350px;
  outline: solid violet;
}
.modal-login h2 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 42px;
}
.modal-description {
  margin: 0;
  margin-bottom: 10px;
}
.login-form p {
  margin: 0;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  background-color: #f9f6f3;
  border: 2px solid #000000;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}
.login-icon-user {
  background-image: url("img/user.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}

.login-icon-password {
  background-image: url("img/lock.svg");
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-checkbox {
  position: relative;

  padding-left: 30px;

  cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 17px;
  height: 17px;

  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #663d15;
  outline: thin dotted;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 1px;

  width: 15px;
  height: 2px;

  background-color: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.restore {
  color: #000000;
  text-decoration: underline;
}
.restore:hover,
.restore:focus {
  text-decoration: none;
}
.login-form .button {
  width: 100%;
  margin-right: 0;
}

/*Модальное окно Карта*/
.modal-map {
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 13%;
  display: none;
}

/*Модальное окно Напишите Нам*/
.modal-lost {
display: none;

  margin: 0 auto;
  width: 620px;
  border-top: 5px solid #ee3643;
  top: 20%;
  left: 30%;
  position: fixed;
  background-color: #fff;

  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.button-lost-submit {
  width: 220px;
  background-color: #ee3643;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: "Cuprum", "Arial", sans-serif;
  padding: 20px 50px;
}
.modal-lost-flex {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lost-p {
  font-size: 12px;
  text-transform: capitalize;
  font-family: "Cuprum", "Arial", sans-serif;
}
.login-icon-name,
.login-icon-email,
.login-icon-letter {
  width: auto;
  padding: 15px;
  border: 2px solid #f1f1f1;
}

/*стили слайдера*/

.slider {
  position: relative;
  width: 620px;
/*  height: 300px;
*/  margin: 10px 25px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  
  width: 160px;
  height: 12px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls i {
  position: relative;
  
  width: 8px;
  height: 8px;
  padding: 10px;
  margin: 5px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls i::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  
  width: 8px;
  height: 8px;
  
  background: #ee3643;
  
  border-radius: 50%;
}

.slider-controls .active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  
  width: 5px;
  height: 5px;
  margin: -4px;
  
  background-color: #ee3643;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: grid;
  padding: 20px 0 60px 0;
}
.slider-item:nth-child(1) {
  background: url("../img/slide1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  height: 100%;
}

.slider-item:nth-child(2) {
  background-image: url("./img/slide2.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-header {
  max-width: 150px;
  margin: 0;
  margin: 30px;
  
  font-size: 55px;
  color: #fff;
}

.slider-p {
  max-width: 150px;
  margin: 0;
  margin: 30px;
  font-size: 15px;
  color: #fff;
}

.slider-item-button.button {
  width: 200px;
  padding: 13px;
  margin: 0 0 0 20px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.slider-ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

.slider-li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 620px;
  height: 300px;
  background: #ccc;
  text-align: center;
}

.control_prev,
.control_next {
  position: absolute;
  top: 40%;
  display: block;
  padding: 10px;
  width: auto;
  cursor: pointer;
  background: #2a2a2a;
  opacity: 0.7;
}

.control_prev:hover,
.control_next:hover {
  opacity: 1;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}



/*стили слайдера*/
